* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

button {
    cursor: pointer;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 106px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
}

.btn{
    background-color: transparent;
    border: none;
    padding-left: 284px;
    transition: 0.4s;
}

.profile {
    display: flex;
    align-items: center;
    gap: 14px;
}

.profile .img-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;
    overflow: hidden;
    border-radius: 50px;
    border: 3px solid white;
}

.img-div img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.img-div::before {
    content: "";
    background-color: transparent;
    width: 43px;
    height: 43px;
    display: block;
    border-radius: 50px;
    border: 2px solid #DFE0EB;
    position: absolute;
}





aside {
    position: fixed;
    z-index: 10;
    background-color: #363740;
    max-width: 255px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 0.4s;
}

.logo {
    margin-top: 36px;
    margin-bottom: 53px;
    padding: 0 23px;
    display: flex;
    align-items: center;
    gap: 18px;
}

.logo img {
    width: 34px;
    height: 38px;
}

.logo span {
    color: rgb(164, 166, 179);
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.4px;
    text-align: left;
    transition: 0.4s;
}

.a-ul {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.a-ul li {
    height: 56px;
    width: 100%;
    display: flex;
    align-items: center;
    transition: 0.4s;
}

.a-ul li a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 0.4s;
}

.a-ul li a img {
    padding: 0 24px;
    margin: 0 24px;
}

.a-ul li a span {
    color: rgb(164, 166, 179);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: left;
    transition: 0.4s;
}

.check {
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 50%;
    appearance: none;
  }
  .check::after {
    content: "";
    display: block;
    /* margin-left: 7.5px;
    margin-top: 5px;
    width: 30px;
    height: 20px;
    border-left: 5px solid red;
    border-bottom: 5px solid red; 
    transform: rotate(-45deg) scale(0); */
    margin-top: 12.5px;
    margin-left: 12.5px;
    width: 25px;
    height: 25px;
    background-color: #fff;
    transform: scale(0);
    transition: 0.5s;
    /* display: none; */
  }
  .check:checked::after {
    transform: scale(1);
    /* display: block; */
    /* transform: rotate(-45deg) scale(1); */
  }
  
  .switch {
    appearance: none;
    padding: 5px;
    width: 30px;
    height: 20px;
    border-radius: 25px;
    background-color: grey;
  }
  .switch::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    transition: 0.5s;
  }
  .switch:checked::after {
    margin-left: 10px;
    background-color: green;
  }

.main {
    padding-top: 128px;
    padding-left: 283px;
    padding-right: 20px;
    transition: 0.4s;
}

.input{
    margin-top: 300px;
    margin-left: 300px;
}

.text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text h1 {
    color: rgb(0, 0, 0);
    font-size: 39px;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0%;
    text-align: left;
}

.btns {
    display: flex;
    gap: 32px;
}

.btns button {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 35px;
    border: none;
}

.btns :nth-child(2) {
    color: white;
    background: rgb(16, 205, 69);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table thead tr th {
    max-width: 20%;
    height: 66px;
    text-align: left;
    padding-left: 20px;
    color: rgb(135, 135, 135);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}

td img {
    width: 36px;
    height: 34px;
}

thead tr{
    background-color: #fff !important;
}

td {
    padding-left: 40px;
    text-align: left;
}

tr{
    height: 66px;
}

tr:nth-child(odd){
    background-color: rgb(238, 242, 245);
}

tbody tr td :nth-child(1) {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 16px;
    flex-wrap: nowrap;
}

.td-img{
    display: flex;
    align-items: center;
}

.close{
    max-width: 100px;
    transition: 0.4s;

}

.close ul li a span{
    display: none;
}

.close a span{
    display: none;
}

.close-main {
    padding-left: 120px;
    transition: 0.4s;
}

.close{
    transition: 0.4s;
}

.dark{
    background-color: black;
}